.fugaz-one-regular {
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    outline: none !important;
}

body {
    font-family: "Fugaz One", sans-serif;
}

header {
    position: relative;
    z-index: 1000000;
}

p {
    font-size: 1.5rem;
}

.navbar {
    background-color: transparent !important;
    transition: 0.5s;
}

.navbar.scrolled {
    background: #000 !important;
    transition: 0.5s;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #000;
    background-color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .8);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 1);
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:visited {
    color: rgba(255, 255, 255, 1);
    font-size: 2.5rem;
    font-weight: 600;
}

.banner {
    position: relative;
    top: 0%;
    width: 100%;
    height: 100vh;
    background: url(banneriamge.jpeg) no-repeat center center/cover;
    background-size: cover;
    margin-bottom: 0;
}

.banner:before,
.sec2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(#000, transparent);
    pointer-events: none;
}

.banner:after,
.sec2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(360deg, #000, transparent);
    pointer-events: none;
}

.height100p {
    height: 100vh;
}

.h100 {
    height: 100%;
}

.contentBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
}

.contentBox h1 {
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    font-size: 5rem;
}

.contentBox p {
    color: #fff;
    font-size: 1.3rem;
}

.sec1 {
    padding: 100px 0;
    background: #000;
}

.headerText {
    color: #fff;
}

.headerText h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.placeBox {
    position: relative;
    max-width: 300px;
    height: 400px;
    margin: 0 auto;
    background: #000;
    margin-top: 30px;
}

.placeBox .imgbx {
    width: 100%;
    height: 100%;
}

.placeBox .imgbx img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.placeBox .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: baseline;
    align-items: flex-end;
}

.placeBox .content h3 {
    position: relative;
    margin: 0;
    padding: 10px;
    background: rgba(0, 0, 0, .95);
    color: #fff;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.placeBox .content h3 span {
    font-size: 16px;
    font-weight: 500;
}

.sec2 {
    position: relative;
    background: url(img3.jpg);
    background-size: cover;
    height: 100vh;

}

.sec2 h2 {
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    font-size: 4.5rem;
}
.btnD1 {
    border: 2px solid #fff;
    color: #000;
    background: #fff;
    border-radius: 50px;
    padding: 15px 50px;
    font-size: 1.15rem;
    outline : none;
    font-weight: 500;
    margin-top:20px ;
}
.blog {
    position: relative;
    padding: 100px 0;
    background: #000;

}
.blogpost {
    position: relative;
    width: 100%;
    margin-top:30px ;
}
.blogpost .imgBx{
    height: 400px;
}
.blogpost .imgBx img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}