.fugaz-one-regular {
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    outline: none !important;
}

body {
    font-family: "Fugaz One", sans-serif;
}

header {
    position: relative;
    z-index: 1000000;
}

p {
    font-size: 1.5rem;
}